{
	"extends": [
		"airbnb",
		"plugin:react/recommended"
	],
	"env": {
		"es6": true,
		"browser": true,
		"node": true,
		"mocha": true
	},
	"plugins": [
		"flow-vars",
		"react"
	],
	"parser": "babel-eslint",
	"parserOptions": {
		"sourceType": "module"
	},
	"rules": {
		"no-tabs": "off",
		"indent": [
			2,
			"tab",
			{
				"SwitchCase": 1
			}
		]
	}
}
